header {
        background-image: url('images/banner/banner2.png');
        background-repeat: no-repeat;
        background-size: 100%;
        
}
.watch{
       
        height: 300px;
        border-radius: 8px;
        background: linear-gradient(90deg, #d0df07 0%, rgba(75, 206, 235, 0) 100%), url('images/watch.png');  
        margin: 100px 0;
 }